

<% include partials/header %>

<body>
    
    <div class="container">
        
        
        
        <h1 >This is the landing page!!!</h1>
        
        <h3>Welcome to Yelp Camp</h3>
        
        <p><a href="/campgrounds/new">Click to create new</a></p>
   
        
        
         <p><a href="/campgrounds">View all campgrounds</a></p>
        
        
    


  </div>
  
  
<% include partials/footer %>