<% include partials/header %>

   

     <div class="container">
         <div style="padding-top:80px; padding-bottom:50px;" class="container">
        <form action="/campgrounds" method="POST">
            
          <label>Name: </label>  <input class="form-control" type='text' name="name" placeholder="Enter Name"> <br />
         <label>Image URL:</label>  <input class="form-control" type='text' name="image" placeholder="Enter Image"> <br />
            
            <button class="btn btn-default btn-lg">Submit</button>
            
        </form>
        
        </div>
</div>

<% include partials/footer %>